<div class="row">
  <h3 class="page-header">Kitchen</h3>



    <div class="overflow"><% @orders.each do |order| %>

        <div class="row" >
          <form class="" action="/tickets/kitchen/<%= order.id %>" method="post">
            <button class="kitchen" type="submit" data-start-time="<%= order.created_at %>"><%= order.food.name %></button>
          </form>
        </div>


      <% end %></div>

    <form class="admin main-button" action="/admin">
      <button type="submit">Admin</button>
    </form>

</div>
