<div class="row">

  <h2>Select a Server</h2>

</div>

<div class="row admin-forms
"><% @servers.each do |server| %>
   <form class="" action="/tickets" method="post">
     <button type="submit" name="server_id" value="<%=server.id%>"><%= server.name %></button>
   </form>
  <% end %></div>

<div class="row">
  <form class="admin" action="/">
    <button type="submit">Back to Main</button>
  </form>
</div>
