
<div class="row">
    <h3 class="page-header">Select Table</h3>

</div>

<div class="overflow">
  <div class="row admin-forms">
    <ul>

      <% @parties.each do |party| %>
        <form class="" action="/tickets/party" method="post">
          <button type="submit" name="party_id" value="<%= party.id  %>"><%= party.table_number %></button>
        </form>
      <% end %>

    </ul>
  </div>
</div>
<div class="row server-show">

  <form class="admin" action="/tickets">
    <button type="submit">Back</button>
  </form>

  <form class="admin" action="/">
    <button type="submit">Main</button>
  </form>
</div>
