<div class="row">

  <h3 class="page-header">Select a Server</h3>

</div>
<div class="row">
  <form action="/tickets" method="post">

      <select name="server_id">
        <% @servers.each do |server|%>
        <option value="<%= server.id %>">
          <%= server.name %>
        </option>
        <% end %>
      </select>

    <button type="submit">See Tables</button>
  </form>
</div>

  <div class="row main-button">
    <form class="admin" action="/">
      <button type="submit">Main</button>
    </form>
  </div>
