<div class="row">
  <h1>Admin</h1>
</div>
<div class="row admin-forms
">
  <div class="row nav">
    <form class="admin" action="/parties">
      <button type="submit">View All Reservations</button>
    </form>
  </div>

  <div class="row nav">
    <form class="admin" action="/servers">
      <button type="submit">View All Servers</button>
    </form>
    <form class="admin" action="/servers/new">
      <button type="submit">Add a New Server</button>
    </form>
  </div>

  <div class="row nav">
    <form class="admin" action="/foods">
      <button type="submit">View Menu</button>
    </form>

    <form class="admin" action="/foods/new">
      <button type="submit">Add a Menu Item</button>
    </form>
  </div>

  <div class="row nav">
    <form class="admin" action="/tickets/kitchen">
      <button type="submit">Go to Kitchen</button>
    </form>
  </div>
</div>

<div class="row main-button">
  <form class="admin" action="/">
    <button type="submit">Back to Main</button>
  </form>
</div>
