<div class="row">
  <h1>TurnTable</h1>

  <form class="" action="/tickets">
    <button type="submit">Start a New Order</button>
  </form>

  <form class="" action="/foods">
    <button type="submit">View Menu</button>
  </form>

  <form class="" action="/admin">
    <button type="submit">Admin</button>
  </form>
</div>
