<div class="row main">

  <form  action="/tickets">
    <button class="new-order-button" type="submit">Start a New Order</button>
  </form>

  <ul>
    <li class="admin">
      <form class="" action="/foods">
        <button type="submit">View Menu</button>
      </form>
    </li>

    <li class="admin">
      <form action="/admin">
        <button type="submit">Admin</button>
      </form>
    </li>
  </ul>
</div>
