<div class="row main">

  <form  action="/tickets">
    <button class="new-order-button" type="submit">Start a New Order</button>
  </form>

      <form action="/admin">
        <button type="submit">Admin</button>
      </form>

</div>
