<div class="row">
  <h3 class="page-header">Servers</h3>


</div>

<div class="row servers">
  <ul>
    <% @servers.each do |server| %>
      <li>
        <a href="/servers/<%= server.id %>">
          <button>
            <%= server.name %>
          </button>
        </a>
      </li>
    <% end %>

  </ul>
</div>

<div class="main-button">
  <form class="" action="/servers/new">
    <button type="submit">New</button>
  </form>
  <form class="" action="/admin">
    <button type="submit">Admin</button>
  </form>
</div>
